<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h4 class="title">
                    <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>                    
                </h4>
                <ul class="thumbnails">
                    <li class="span3" ng-repeat="activeItem in tshirtsActive">
                        <div class="product-box">
                            <p>
                                <a href="product_detail.html">
                                    <img src="{{activeItem.mainLogo.imageUrl}}" alt="" />
                                </a>
                            </p>
                            <a ng-click="showDetails(activeItem.id)" class="title">{{activeItem.name}}</a><br />
                            <a href="products.html" class="category">Quis nostrud</a>
                            <p class="price">{{activeItem.price}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
