<div class="accordion-group panel panel-default">
    <div class="accordion-heading panel-title">
        <a class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
    </div>
    <div id="collapseOne" class="accordion-body in collapse">
        <div class="accordion-inner panel-collapse" collapse="!isOpen">            
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</div>

